html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

input[type="text"] {
  top: 20px;
  left: 20px;
  position: fixed;
  width: 50vw;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
